{% load static %}
<html>
    <head>
        <title>Harmful Cloud ML Project</title>
        <link rel="stylesheet" href="{% static "style.css" %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <div class="fancy_div flexer">
                <img class="logo_img" src="{% static "logo.gif" %}">
                <p>Harmful Cloud ML Project</p>
            </div>
        </header>
        <main class="parent_div">
            {% block content %}
            {% endblock %}
        </main>
        <footer>
             <div class="fancy_div flexer_lesser">
                <p class="center">Собрал данные и сделал сайт: <a href="https://vk.com/adefe">Adefe</a></p><p class="center">Исследовал и обучил модель: <a href="https://vk.com/howardano">howardano</a></p><p class="center">Помогал исследовать модель и метрики: <a href="https://vk.com/govno_buyvola">nokrolikno</a></p><p class="center">Хостит: <a href="https://vk.com/alexa64">Alexa64</a></p>
             </div>
        </footer>
    </body>
</html>
